.u-center-text {
  text-align: center !important;
}

.u-maring-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem !important;
}

.u-maring-bottom-huge {
  margin-bottom: 10rem !important;
}

//////
.exciting-text-adjustment {
  padding-top: 10rem;
}

//////
.btn-padding {
  position: absolute;
  top: 2rem;
  // left: 1rem;
}
