.u-center-text {
  text-align: center;
  padding-top: 5rem;
}

.u-maring-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-maring-bottom-huge {
  margin-bottom: 10rem;
}

//////
.exciting-text-adjustment {
  padding-top: 10rem;
}
